/* Navigointipalkin tyyli */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333; /* Tummanharmaa taustaväri */
  z-index: 10;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: center; /* Tämä keskittää linkit */
  flex-grow: 1; /* Varmistetaan, että tämä elementti täyttää käytettävissä olevan tilan */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Asettaa listan elementit vierekkäin */
  justify-content: center; /* Keskittää elementit vaakasuunnassa */
  align-items: center; /* Keskittää elementit pystysuunnassa */
}

nav ul li {
  display: inline-block;
}

/* Linkkien tyyli */
nav ul li a {
  display: block;
  color: white; /* Valkoinen tekstiväri */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Linkkien hover-efekti */
nav ul li a:hover {
  background-color: #111; /* Tummempi harmaa taustaväri hover-tilassa */
}

.social-media-links {
  margin-left: auto; /* Työntää sosiaalisen median linkit oikeaan reunaan */
  margin-right: 20px; /* Lisää 20 pikselin väli oikeaan reunaan */
  display: flex;
  align-items: center;
}

.social-media-links a img {
  width: 30px; /* Säädä logojen kokoa */
  margin-left: 10px; /* Lisää väliä logojen välille */
}

.ekakuva {
  position: relative;
  background-image: url("kuvat/golf-simulaattori.jpg");
  background-size: cover; /* Asettaa kuvan peittämään koko taustan */
  background-position: center; /* Keskittää kuvan */
  height: 500px;
  display: flex;
  justify-content: center; /* Keskittää lapsielementit vaakasuunnassa */
  align-items: center; /* Keskittää lapsielementit pystysuunnassa */
  height: 500px; /* Säädä korkeutta */
}

.logo {
  position: absolute; /* Sijoittaa absoluuttisesti suhteessa sen vanhempaan */
  top: 300px; /* Sijoittaa logon 300px päähän yläreunasta */
  left: 0px; /* Sijoittaa logon 0px päähän vasemmasta reunasta */
  width: 200px; /* Määritä logon leveys */
  border-radius: 50%;
}

.varaa-aika-btn {
  display: inline-block;
  visibility: visible;
  position: absolute; /* Sijoitetaan absoluuttisesti .ekakuva-kontin sisälle */
  top: 70%; /* Sijoittaa elementin alemmas vanhempansa korkeuden suhteen */
  left: 50%; /* Sijoittaa elementin keskelle vanhempansa leveyden suhteen */
  transform: translate(
    -50%,
    -50%
  ); /* Siirtää elementtiä taaksepäin sen omien mittojen perusteella */
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer; /* Muuttaa kursorin muodon osoittamaan, että nappia voi klikata */
  font-family: "Arial", sans-serif;
  font-weight: bold; /* Lisää fontin paksuutta */
  color: #ffffff; /* Valkoinen teksti */
  background-color: #333333; /* Vaaleanmusta taustaväri */
  border: none; /* Poistaa reunaviivan */
  border-radius: 20px; /* Pyöristetyt reunat */
}

.henkilo-container {
  display: flex; /* Asettaa flexbox-asettelun */
  justify-content: space-between; /* Asettaa sisällön tasaisesti jakautuneena */
  align-items: center; /* Keskittää elementit pystysuunnassa */
}

.henkilo-esittely {
  flex-basis: 48%; /* Asettaa kunkin henkilöesittelyn leveydeksi noin puolet vanhemman kontin leveydestä */
  display: flex;
  flex-direction: column; /* Asettaa elementit pystysuuntaan */
  align-items: center; /* Keskittää elementit vaakasuunnassa */
}

.henkilo-esittely img {
  width: 200px; /* Asettaa kuvan leveyden */
  height: auto;
  border-radius: 10%; /* Pyöristää kuvan kulmat luoden ympyränmuotoisen kuvan */
  object-fit: cover;
  margin-bottom: 10px; /* Lisää marginaalia kuvan ja tekstin väliin */
}

.esittely-teksti {
  text-align: center; /* Keskittää tekstin */
  max-width: 80%; /* Asettaa tekstilaatikon maksimileveyden */
}

#meista {
  background-color: rgb(211, 211, 211); /* Vaaleanharmaa */
  padding: 20px;
}

#meista h2 {
  text-align: center;
}

body,
section {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth; /* scrollaus likattaessa yläpalkkia */
}

#hinnasto h2 {
  text-align: center;
}

#hinnasto table {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

#hinnasto th,
#hinnasto td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#hinnasto tr:nth-child(even) {
  background-color: #f2f2f2;
}

#hinnasto th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #333;
  color: white;
}

#hinnasto {
  margin-bottom: 50px;
}

#saapuminen h2 {
  text-align: center;
}

#yhteystiedot h2 {
  text-align: center;
}

.sivuston-footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-size: 16px;
}

.footer-sisalton p {
  margin: 10px 0; /* Väliä tekstien välille */
}

/* Alkuperäinen sumennettu tyyli */
.blurry {
  filter: blur(5px);
  transition: filter 0.5s ease-out;
}

/* Tarkentunut tyyli, kun elementti on skrollattu näkyviin */
.in-focus {
  filter: blur(0);
}
